
body {
    background-color: #eeeeee; 
 
           
    font-family: Arial, sans-serif; 
    margin: 0;                 
    padding: 0px;            
}        
.first_page{
    color: #eeeeee; 
    background-color: #414B56;
    margin:0;
    height: 100vh;
    display:flex;
    position:relative;
}
.position{
    width: 100%;
    display:flex;
    position:relative; 
    justify-content: center;
    align-items: center;
    height: 100%;

}
.header{
    background-color:#eeeeee;
    color:#414B56;
    width:100%;
    height:64.252px;
    padding:3.78px;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index:1000;
}

.title{
    font-weight: bolder;
    margin:0;
    padding:0;
}
.title_container{
    margin-left:37.795px;
    margin-top:18.898px;
}
.my_logo_container{
    position: absolute;
    left:5%; 
}
.my_logo{
    width:34%;
    height:auto;
}
.element_menu{
    margin-left:auto;
    margin-right:auto;
}

.btn1{
    text-decoration: none; 
    color: inherit;
    margin-right: 37.795px;
}
.btn2{
    text-decoration: none; 
    color: inherit;
    margin-right: 37.795px;
}
.btn1:hover, .btn2:hover {
    text-decoration:underline;
    font-weight: bold;
  }
.side_bar{
    display:none
}
.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px; 
    height: 35px; 
    background-color:#414B56; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    color: white; 
}
  
  .icon-button svg {
    fill: currentColor; /* Use current text color for SVG fill */
  }
  
  
.item{
    display:none;
}

.second_half {
    flex-direction: column;
    height:93vh;
    width:100%; /* Adjusted to 100vh for full viewport height */
    display: flex;
    position: relative;
    overflow: hidden;
    top:1.3cm; /* Ensure pseudo-element doesn't overflow */
}

.second_half::before {
    content: '';
    position: absolute;
    border-top-left-radius: 100px;
    right:0cm;
    bottom:0cm;
    z-index:1;
    background: linear-gradient(to top, #414B56, #eeeeee); ;
    height:529.134px;
    width: 491.339px;
}


.myimage {
    z-index:2;
    position:absolute;
    right:18.898px;
    bottom:0cm;
    height: auto; 
    width:453.543px ; 
}
.the_writing{
    left:2%;
    position:relative;
    top:15%;
    z-index:100;
    display:flex;
    flex-direction: column;
}
.myname_big {
    font-size: 10vw;
    font-weight: 700;
    z-index: 2;
    margin-bottom:0;
    margin-top:0;
}
.hi{
    margin-bottom:0;
    margin-left:3px;
}
.specialite{
    margin:0;
    padding:0;
}

.second_page{
    color:#414B56;
    height: fit-content;
    padding-bottom:18.898px;

}
.flex_class{
    display:flex;
    align-items: center;
    justify-content: center;
}
.title_second_page{
    margin-top:37.795px;
    margin-left: 250px;
    margin-bottom:0;
    padding-bottom: 0;
}
.personnel_intro{
    width:33%;
    text-align: justify;
    font-size:larger;
    font-weight: bolder;
}
.myimage2{
    width:15%;
    margin-left:302.362px;
}
.third_page{
    background-color: #414B56;
    color: #eeeeee;
    padding-top:3.78px;
    height:auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom:37.795px;
}
.title_third_page{
    margin-top:37.795px;
    margin-bottom:0;
    margin-left:21%
}

.skills{
    display:flex;
    justify-content: center;
}
.domaine,.domaine_last{
    background-color:#eeeeee;
    color:#414B56;
    width:28%;
    height:auto;
    margin-top:1cm;
    border-radius: 10px;
    padding-bottom:37.795px;
}
.domaine{
    margin-right: 37.795px;
}
.domaine_title{
    margin-left:37.795px;
}
.skill{
    margin-left:52.913px;
}
.skill_title{
    margin-bottom: 5px;
    margin-top:14px;
}
.progress-bar {
    width: 87%;
    background-color: #ddd;
    height: 10px;
    border-radius: 10px;
    margin-top: 5px;
    overflow: hidden;
}

.progress {
    width: 0;
    height: 100%;
    background-color:#414B56;
    border-radius: 10px;
}

.fourth_page{
    background-color: #eeee;
    color:#414B56;
    padding-top:3.78px;
    height:auto;
    align-items: center;
    display:flex;
    flex-direction: column;
    

    padding-bottom:5%;
}
.title_fourth_page{
    margin-left:21%;
    margin-bottom:0;
    margin-top:37.795px;
}
.title_container1{
    width:100%
}

.Projet_title{
    margin-left:3%;
}
.Projet{
    background-color: #414B56;
    color:#eeeeee;
    width:58%;
    border-radius: 10px;
    padding-top:1%;
    padding-bottom:1%;
    margin-top:2%;
}
.description_projet{
    margin-left:6%;
    margin-top:0.1%;
    margin-right:6%;
}
.alignment{
    display:flex;
    width:100%;
}
.edunest_logo{
    width:37.795px;
    height: 37.795px;
    margin-left:56.693px;
    margin-top:18.898px;
}
.title_technologies{
    margin-left:3%;
}
.github_projet{
    display:flex;
    width:100%;
    position: relative;
}
.git_container{
    cursor: pointer;
    background-color: #eeeeee;
    color:#414B56;
    position: absolute;
    right: 5%;
    padding-right:1%;
    padding-left: 1%;
    padding-top:0.5%;
    padding-bottom: 0.5%;
    border-radius: 4px;
}
.git{
    margin-bottom:0;
    margin-top:0;
    padding-bottom:0;

}
.more-btn{
    margin-top:2%;
    width:10%;
    min-width: 100px;
    height: 1cm;
    font-weight:bolder ;
    background-color: #414B56;
    color: #eeeeee;
    border-radius: 5px;
    padding: 1px 2px;
    cursor: pointer;
}
.hidden{
    display:none;
}
.hidden-content{
    display: flex;
    padding:1px;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_page{
    width: 100%;
    height: fit-content;
    padding-top: 3.78px;
    padding-bottom:50px;
    background-color:#414B56 ;
    color:#eeeeee;
}
.contacts{
    background-color: #eeeeee;
    color:#414B56;
    margin-right: auto;
    margin-left:auto;
    width:56%;
    min-width:fit-content;
    height: fit-content;
    border-radius: 10px;
    padding-top:2%;
    padding-bottom:0.5%;
    padding-left:2%;
    margin-top:2%;
    display:flex;
    flex-direction: column;
}
.contact{
    display:flex;
    align-items: center;
    margin-bottom:2%;
}
.cont{
    margin-left:5%;
    margin-top:0;
    margin-bottom:0;
    overflow-wrap: break-word; /* Ensures words break when necessary */
    word-break: break-all;     /* Breaks long words and URLs */
    white-space: normal;
    cursor: pointer;
}
.cont1{
    margin-left:5%;
    margin-top:0;
    margin-bottom:0;
    overflow-wrap: break-word; /* Ensures words break when necessary */
    word-break: break-all;     /* Breaks long words and URLs */
    white-space: normal;
}
.cont a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from the parent element */
  }
.cont:hover{
    color:#72A0C1;

}
@media screen and (max-width: 1000px) {
    body {
        background-color: #eeeeee; 
     
               
        font-family: Arial, sans-serif; 
        margin: 0;                 
        padding: 0px;            
    }        
    .first_page{
        color: #eeeeee; 
        background-color: #414B56;
        margin:0;
        height: fit-content;
        display:flex;
        position:relative;
    }
    .position{
        width: 100%;
        display:flex;
        position:relative; 
        justify-content: center;
    
    }
    .header{
        background-color:#eeeeee;
        color:#414B56;
        width:100%;
        height:64.252px;
        padding:3.78px;
        position: fixed;
        top: 0;
        align-items: center;
        justify-content: center;
        z-index:1000;
    }

    .side_bar{
        position:fixed;
        border: 1px solid #414B56;
        background-color:#eeeeee;
        color:#414B56;
        width:fit-content;
        height: fit-content;
        font-weight: bold;
        right:5%;
        top:75px;
        z-index:1000;
        padding:5%
    }
    .element_menu_small{
        display: flex;
        flex-direction: column;
    }
   
    
    .title{
        font-weight: bolder;
        margin:0;
        padding:0;
    }
    .title_container{
        margin-left:37.795px;
        margin-top:18.898px;
    }
 
    .element_menu{
         margin-top:18.898px;
         display:none;

    }
    .item{
        display:block;
        position: absolute;
        right:5%; 
    }

    
  
    .btn1{
        text-decoration: none; 
        color: inherit;
        margin-top:5%
    }
    .btn2{
        text-decoration: none; 
        color: inherit;
        margin-top: 5%;
        cursor: pointer;
    }

    
    .second_half {
        flex-direction: column;

        width:100%; /* Adjusted to 100vh for full viewport height */
        display: flex;
        position: relative;
        overflow: hidden;
        top:0cm; /* Ensure pseudo-element doesn't overflow */
    }
    
    .second_half::before {
        content: '';
        position: absolute;
        border-top-left-radius: 100px;
        right:0cm;
        bottom:0cm;
        z-index:1;
        background: linear-gradient(to top, #414B56, #eeeeee); ;
        height:40%;
        width: 70%;
    }
    
    
    .myimage {
        z-index:2;
        position:absolute;
        right:18.898px;
        bottom:0cm;
        height: auto; 
        width:65% ; 
    }

    .the_writing{
        position:relative;
        top:15%;
        width:100%;
        height: fit-content;

        z-index:100;
        display:flex;
        flex-direction: column;
    }
    
    .myname_big {
        font-size: 10vw;
        font-weight: 700; 
        z-index: 2;
    }
    
    .specialite{
        z-index:2;
        margin:0;
        padding:0;
    }
    
    .second_page{
        color:#414B56;
        height: fit-content;
        padding-bottom:18.898px;
    
    }
    .flex_class{
        margin-top:20px;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction:column-reverse;
    }
    .title_second_page{
        margin-top:37.795px;
        margin-left: 20px;
        margin-bottom:0;
        padding-bottom: 0;
    }
    .personnel_intro{

        width:80%;
        text-align: justify;
        font-size:larger;
        font-weight: bolder;
    }
    .myimage2{
        width:45%;
        margin-left:20px;
    }
    .third_page{
        background-color: #414B56;
        color: #eeeeee;
        padding-top:3.78px;
        height:auto;
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom:37.795px;
    }
    .title_third_page{
        margin-top:37.795px;
        margin-bottom:0;
        margin-left:20px;
    }
    
    .skills{

        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .domaine,.domaine_last{
        background-color:#eeeeee;
        color:#414B56;
        width:80%;
        height: auto;
        margin-top:1cm;
        border-radius: 10px;
        padding-bottom:37.795px;
        margin-right: 0;
    }
   
    .domaine_title{
        margin-left:10px;
    }
    .skill{
        margin-left:20px;
    }
    .skill_title{
        margin-bottom: 5px;
        margin-top:14px;
    }
    .progress-bar {
        width: 87%;
        background-color: #ddd;
        height: 10px;
        border-radius: 10px;
        margin-top: 5px;
        overflow: hidden;
    }
    
    .progress {
        width: 0;
        height: 100%;
        background-color:#414B56;
        border-radius: 10px;
    }
    
    .fourth_page{
        background-color: #eeee;
        color:#414B56;
        padding-top:3.78px;
        height:auto;
        align-items: center;
        display:flex;
        flex-direction: column;
        padding-bottom:5%;
    }
    .title_fourth_page{
        margin-left:10px;
        margin-bottom:20px;
        margin-top:37.795px;
    }
    .title_container1{
        width:100%
    }
    
    .Projet_title{
        margin-left:3%;
    }
    .Projet{
        background-color: #414B56;
        color:#eeeeee;
        width:90%;
        border-radius: 10px;
        padding-top:1%;
        padding-bottom:1%;
        margin-top:2%;
    }
    .description_projet{
        margin-left:6%;
        margin-top:0.1%;
        margin-right:6%;
    }
    .alignment{
        display:flex;
        width:100%;
    }
    .edunest_logo{
        width:37.795px;
        height: 37.795px;
        margin-left:56.693px;
        margin-top:18.898px;
    }
    .title_technologies{
        margin-left:3%;
    }
    .contacts{
        background-color: #eeeeee;
        color:#414B56;
        margin-right: auto;
        margin-left:auto;
        width:90%;
        height: fit-content;
        border-radius: 10px;
        padding-top:2%;
        padding-bottom:0.5%;
        padding-left:2%;
        margin-top:2%;
        display:flex;
        flex-direction: column;
    }
}